# Development files
.git/
.gitignore
.env*
*.md
logs/
test/
*.log

# Build files
target/
build/
dist/

# IDE files
.idea/
.vscode/
*.iml

# Docker files
Dockerfile*
docker-compose*
.docker/

# Maven files
.mvn/
mvnw*